body{width:100%;height:400px;color:red}
body{width:100%;height:400px;color:red}
body{width:100%;height:400px;color:red}
a:link,
a:visited {
    text-decoration: underline
}

body {
    width: 100%;
    height: 400px;
    color: red
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #000
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #006;
    font-weight: 700
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 24px
}

a:link {
    font-weight: 700;
    color: #09c
}

a:visited {
    font-weight: 700;
    color: #900
}

a:active,
a:hover {
    font-weight: 400;
    text-decoration: none;
    color: #fff
}

a:hover {
    background: #f93
}

a:active {
    background: #c00
}
body{width:100%;height:400px}body color:red .element{color:#00f;text-decoration:none}
body{width:100%;height:400px}body color:red .element{color:#00f;text-decoration:none}
body{width:100%;height:400px}body color:red .element{color:#00f;text-decoration:none}