body{width:100%;height:400px;color:red}
body{width:100%;height:400px;color:red}
body{width:100%;height:400px;color:red}body .element{color:#00f;text-decoration:none}
body{width:100%;height:400px;color:red}body .element{color:#00f;text-decoration:none}
body{width:100%;height:400px;color:red}body .element{color:#00f;text-decoration:none}
